/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
*{
    box-sizing: border-box;
}
body {
	line-height: 1;
}
menu, ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    border: none;
}

/* 去除iPhone中默认的input样式 */
input[type="submit"],input[type="reset"],input[type="button"],input:focus,button:focus,select:focus,textarea:focus{ outline: none;}
input{-webkit-appearance:none; resize: none; border-radius: 0;}

html{
    background: #f5f7fa;
}
/* 绝对定位文本框错误提示 */
.van-field__error-message{
    position: absolute;
    bottom: -10px;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
}
/* 自定义tabs样式，需要给van-tabs组件加上sl-tabs类名 */
.sl-tabs {
    .van-tabs__nav {
        background-color: #f5f7fa;
    }

    .van-sticky {
        margin-bottom: 10px;
    }

    .filter {
        position: absolute;
        right: 20px;
        padding-left: 10px;
        border-left: 1px solid #C9D1DE;
        height: 18px;
        line-height: 18px;
        top: 50%;
        margin-top: -15px;
        display: flex;
        align-items: center;
        font-size: 11px;

        .bars,
        .van-icon-qr {
            font-size: 14px;
            margin-right: 10px;
        }
    }
}




.van-popover{
    .van-popover__action{
        width: initial;
    }
}

// picker
.van-picker{
    .van-ellipsis{
        overflow: inherit;
    }
}


